@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/* Add CSS styling here */


/*Reset*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
        /* border: black 1px solid; */
}

html {
    font-size:62.5%;
}

body {
    margin-top: 4em;
    font-size:2rem;
    line-height: 1.5;
    background-image: url('https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Navigation*/

header nav{
    width: 100%;
    display:flex;
    justify-content: space-between;
    background:rgba(3, 3, 3, 0.5);
    padding-bottom: 10px;
    position: fixed;
    z-index: 999;
    top: 0;
}

.myName-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}


.main_nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 2em;
}

.main_nav .button {
    margin: 0 1em;
}

h1 {
    font-family: "Lobster", sans-serif;
    font-weight: 100;
    margin-top: .5em;
    color:#fff;
}
/*Name Logo*/
h2 {
    font-family: "Lobster", sans-serif;
    font-weight: 100;
    margin-top: .5em;
    color:#fff; 
}


.myName{
    font-size: 4rem;
}


.button {
    background: #fff;
    color:black;
    padding: 1em;
    margin-top: 1em;
    border-radius: 10px;
    border: none;
}

.button:hover{
    color:white;
    background: red;
}

#top {
    height: 25vh;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 2em;
    flex-direction: column;
    border: white solid 5px;
    background-image: url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
}


.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1em auto;
}

.gallery .photos{
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    text-transform: uppercase;
    width: 30%;
}

footer{
    background: black;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em 0;
}

